.navBar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.topNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    height: 60px;
}
.bottomNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
    margin: 10px;
    height: 60px;
}
.navButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
.authContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
.logo {
    width: auto;
    height: 100px;
}
.socialMediaContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
}
.socialIcon {
    width: 30px;
    height: 30px;
}
.navLinks {
    width: 80%;
}
.navLinksItem {
    padding: 30px;
    text-decoration: none;
    color: #000;
}
.accountContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-right: 10px;
}
.accountInitials {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.loginButton, .signupButton {
    background-color: #000000;
    width: fit-content;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-weight:bold;
}
.loginButton {
    background-color: rgb(255, 255, 255);
    color:#000000;
    border-color:#000;
    border-width:2px;

}